<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer">
            <div class="patrocinadores-grid">
            <a th:href=@{https://ufu.br} target="_blank"><img th:src="@{/img/ufu.png}" alt="UFU"></a>
            <a th:href=@{https://www.uftm.edu.br} target="_blank"><img th:src="@{/img/uftm.png}" alt="UFTM"></a>
            <a th:href=@{https://ifce.edu.br} target="_blank"><img th:src="@{/img/ifce.png}" alt="IFCE"></a>
            <a th:href=@{https://www.ufpe.br} target="_blank"><img th:src="@{/img/ufpe.png}" alt="UFPE"></a>
            <a th:href=@{https://www.ufs.br} target="_blank"><img th:src="@{/img/ufs.png} " alt="UFS"></a>
            <a th:href=@{https://www.ufmt.br} target="_blank"><img th:src="@{/img/ufmt.png}" alt="UFMT"></a>
            <a th:href=@{https://www.furg.br} target="_blank"> <img th:src="@{/img/furg.png}" alt="FURG"></a>
            <a th:href=@{https://www.gov.br/cnpq} target="_blank"><img th:src="@{/img/cnpq.png}" alt="CNPQ"></a>
            <a th:href=@{https://www.gov.br/mcti} target="_blank"><img th:src="@{/img/mcti.png}" alt="MCTI"></a>
            <a th:href=@{https://www.gov.br/mulheres} target="_blank"><img th:src="@{/img/mdm.png}" alt="Ministério das Mulheres"></a>
        </div>

        <div>
            <a href="#" target="_blank"><img th:src="@{/img/logo_instagram.png}" alt="logo_instagram"></a>
            <a href="#" target="_blank"><img th:src="@{/img/logo_youtube.png}" alt="logo_youtube"></a>
        </div>
        
        <div class="help">
            <a href="#">Termos e Aviso de Privacidade</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSevn4lFt7Dgjig9mf7vnWAyM_5VNT2FYhuRjjqwaOrz3e3Omw/viewform">Envie-nos um feedback</a>
            <a href="#">Ajuda</a>
        </div>
        <p><small>© 2026 Desenvolvido por hegaf</small></p>
</footer>
</body>
</html>